
/* nav */



#nav .nav h1 {
  display: inline;
  padding: 20% 0%;
  float: none;
}

#nav .nav {
  text-align: center;
}

#nav .nav ul li {
  font-size: 1.1em;
  width: 42.5vw;
  display: inline-block;
  text-align: center;
  padding: 0.4em;
}

h2.all {
  margin: 5%;
  font-size: 1.3em;
  padding: 2%;
}








/* section1 */









#section1 ul li {
  width: 80vw;
  margin: 2% 0%;
  font-size: 1.9em;
}



/* footer */





#footer div.links h2 {
  display: block;
  font-size: 1.1em;
}

#footer div.links img.logo {
  float: none;
}

#footer div.shakhsi h4 {
  font-size: 0.9em;
}

#footer div.shakhsi h6 {
  font-size: 1em;
  text-align: center;
}
